@media only screen and (max-width:768px){
    #article-page{
        width: 90%;
        flex-direction: column !important;
        gap: 20px !important;
    }
    #article-page>div{
        width: 100% !important;
        min-height: 30vh;
        text-align: center;
    }
    #inf-article{
        flex-direction: column !important;
        gap: 10px !important;
        align-items: start !important;
    }
    
}